{{ 'flickity.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flickity.pkgd.min.js' | asset_url }}" defer></script>

<div class="main-carousel">
  {% for block in section.blocks %}
    <div class="carousel-cell">
      {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: 
        width: block.settings.image.width,
        height: block.settings.image.height,
        alt: block.settings.image.alt,
        loading: 'lazy',
        sizes: '100vw'
      }}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "flickity slideshow",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Slide autoplay"
    },
    {
      "type": "checkbox",
      "id": "enabledBulletNav",
      "label": "Enabled bullet navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enabledArrowNav",
      "label": "Enabled arrow navigation"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Slider"
        },
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "url",
          "id": "video",
          "label": "Video Slide"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Flickity Slideshow",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
